@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Indie+Flower&family=Karla:ital,wght@0,200..800;1,200..800&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Syne:wght@400..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

/* Variables */
@theme {
  --color-dark-gray: #212121;
  --color-black: #1e1e1e;
  --color-white: #fff;

  --font-karla: "Karla", sans-serif;
}

/* Global styles */
@layer base {
  html {
    @apply overflow-y-scroll scroll-smooth;
  }

  body {
    @apply min-h-screen font-karla leading-relaxed;
  }

  h1 {
    @apply font-bold tracking-wider leading-[1.15] text-xl lg:text-4xl;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight;
  }

  section {
    @apply w-full;
  }

  .clipboard-msg {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

@layer components {
  .gradient-border {
    background:
         linear-gradient(var(--color-black), var(--color-black)) padding-box,
      var(--active-gradient) border-box;
    border: 2px solid transparent;
  }

  .gradient-text {
    background-image: var(--active-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .gradient-divider {
    background: var(--active-gradient);
    height: 2px;
    width: 100%;
  }
  .gradient-bg {
    background: var(--active-gradient);
  }
}
