@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Indie+Flower&family=Karla:ital,wght@0,200..800;1,200..800&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Syne:wght@400..800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

/* Variables */
@theme {
  --color-dark-gray: #212121;
  --color-black: #1e1e1e;
  --color-white: #fff;

  --font-karla: "Karla", sans-serif;
}

/* Global styles */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-karla);
    line-height: 1.65;
    min-height: 100dvh;
  }

  #app {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -0.02em;
  }

  section {
    @apply w-full;
  }

  .clipboard-msg {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
